user_service/config/.env
exchange_service/config/.env
api_gateway/config/.env
.vscode/
exchange_service/logs.txt
user_service/logs.txt
api_gateway/logs.txt
infra/logs/connect-plugins
infra/logs/data
user_service/storage/postgres-data